flows.json
[{"id":"e730913.3cd5b7","type":"tab","label":"Display"},{"id":"cda5d1f6.d2fe4","type":"tab","label":"Start Playlist"},{"id":"b08aad6d.7cddb","type":"tab","label":"Tracklist"},{"id":"4f0aa92b.99c7f8","type":"tab","label":"Events"},{"id":"717e2b10.5bd1b4","type":"tab","label":"Startup"},{"id":"d2aee2bf.67293","type":"subflow","name":"Clear Display","info":"","in":[{"x":72,"y":161,"wires":[{"id":"7c865a6a.0a9b64"}]}],"out":[]},{"id":"e37d0f6b.0ed12","type":"subflow","name":"Clear Song Info","info":"","in":[{"x":102,"y":168,"wires":[{"id":"dbb1cc4d.cf14d"}]}],"out":[]},{"id":"56685873.891858","type":"ui_tab","z":"e730913.3cd5b7","name":"Radio","icon":"dashboard"},{"id":"8c8619ca.614038","type":"ui_group","z":"e730913.3cd5b7","name":"Default","tab":"56685873.891858","disp":false,"width":"8"},{"id":"ff0303ef.e27a1","type":"mopidy-config","z":"","name":"localhost","host":"localhost","port":"6680"},{"id":"c89bcf76.61c07","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4794906c.3b801","type":"ui_group","z":"e730913.3cd5b7","name":"Buttons","tab":"56685873.891858","disp":false,"width":"8"},{"id":"a430bb70.79dab8","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"825b0fc8.280e2","type":"ui_group","z":"e730913.3cd5b7","name":"Default","tab":"56685873.891858","disp":true,"width":"6"},{"id":"a79f637d.e5d46","type":"ui_text","z":"e730913.3cd5b7","group":"8c8619ca.614038","order":2,"width":"5","height":"1","name":"Artist","label":"","format":"{{msg.payload}}","layout":"col-center","x":517,"y":88,"wires":[]},{"id":"5bd53981.7c40c8","type":"ui_text","z":"e730913.3cd5b7","group":"8c8619ca.614038","order":3,"width":"5","height":"1","name":"Titel","label":"","format":"{{msg.payload}}","layout":"col-center","x":519,"y":156,"wires":[]},{"id":"b46dcea9.a4916","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{\"uri\":\"\"}","method":"playlists.lookup","x":738.25,"y":190.93496704101562,"wires":[["e42f3136.0cab3","dfa79baf.2cffa8","6806584f.0c0b28"]]},{"id":"ac631461.fc4c68","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{}","method":"tracklist.clear","x":350.6109924316406,"y":192.03103637695312,"wires":[["b291c93.02bcf38"]]},{"id":"2baea893.44c298","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{\"tl_track\":\"\",\"tlid\":\"\"}","method":"playback.play","x":1160.77001953125,"y":304.8050537109375,"wires":[[]]},{"id":"e42f3136.0cab3","type":"debug","z":"cda5d1f6.d2fe4","name":"","active":false,"console":"false","complete":"true","x":1137.6200561523438,"y":190.45498657226562,"wires":[]},{"id":"6b4c8630.575248","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{\"tracks\":\"\",\"at_position\":\"\",\"uri\":\"\",\"uris\":\"\"}","method":"tracklist.add","x":945.7040405273438,"y":306.33306884765625,"wires":[["2baea893.44c298"]]},{"id":"dfa79baf.2cffa8","type":"change","z":"cda5d1f6.d2fe4","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.tracks","pt":"msg","to":"payload.tracks","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750.4720458984375,"y":305.81201171875,"wires":[["6b4c8630.575248"]]},{"id":"7c8f0b5a.6731b4","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{}","method":"playlists.asList","x":526,"y":52,"wires":[["65ef47d6.916a28"]]},{"id":"65ef47d6.916a28","type":"change","z":"cda5d1f6.d2fe4","name":"","rules":[{"t":"set","p":"playlists","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"current_playlist","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.uri","pt":"msg","to":"payload[0].uri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":754,"y":52,"wires":[["7f992450.68a55c","b46dcea9.a4916"]]},{"id":"b291c93.02bcf38","type":"function","z":"cda5d1f6.d2fe4","name":"","func":"var current_playlist = flow.get(\"current_playlist\");\nvar playlists = flow.get(\"playlists\");\nvar new_playlist = current_playlist + 1;\nif (new_playlist >= playlists.length) {\n    new_playlist = 0;\n}\nflow.set(\"current_playlist\", new_playlist);\nmsg = {};\nmsg.params = {};\nmsg.params.uri = playlists[new_playlist].uri;\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":191,"wires":[["b46dcea9.a4916"]]},{"id":"7f992450.68a55c","type":"debug","z":"cda5d1f6.d2fe4","name":"","active":true,"console":"false","complete":"true","x":979,"y":51,"wires":[]},{"id":"56ec9c3d.0beb44","type":"mqtt in","z":"e730913.3cd5b7","name":"","topic":"radio/display/playlist","qos":"2","broker":"c89bcf76.61c07","x":154,"y":34,"wires":[["d040fbe6.e43298"]]},{"id":"6806584f.0c0b28","type":"change","z":"cda5d1f6.d2fe4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":966,"y":132,"wires":[["e42f3136.0cab3","4cf2cf7c.39574"]]},{"id":"4cf2cf7c.39574","type":"mqtt out","z":"cda5d1f6.d2fe4","name":"","topic":"radio/display/playlist","qos":"","retain":"true","broker":"c89bcf76.61c07","x":1232,"y":131,"wires":[]},{"id":"d040fbe6.e43298","type":"ui_text","z":"e730913.3cd5b7","group":"8c8619ca.614038","order":1,"width":"5","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":518,"y":34,"wires":[]},{"id":"77058b9e.f59754","type":"mqtt in","z":"b08aad6d.7cddb","name":"","topic":"radio/tracklist/next","qos":"2","broker":"c89bcf76.61c07","x":167,"y":170,"wires":[["dffcffb6.9ebd1","7e85be4.fd5454"]]},{"id":"5b559093.09717","type":"mopidy-out","z":"b08aad6d.7cddb","name":"","server":"ff0303ef.e27a1","params":"{}","method":"tracklist.getLength","x":463,"y":70,"wires":[["85c2ff84.3e3c5","cc007055.b16f7"]]},{"id":"b971648b.348ab8","type":"mqtt in","z":"e730913.3cd5b7","name":"","topic":"radio/display/artist","qos":"2","broker":"c89bcf76.61c07","x":153,"y":100,"wires":[["a79f637d.e5d46"]]},{"id":"21bcfd52.6ed522","type":"mqtt in","z":"e730913.3cd5b7","name":"","topic":"radio/display/title","qos":"2","broker":"c89bcf76.61c07","x":133.052001953125,"y":171,"wires":[["5bd53981.7c40c8"]]},{"id":"a438b31a.b56ab","type":"mopidy-out","z":"4f0aa92b.99c7f8","name":"","server":"ff0303ef.e27a1","params":"{}","method":"playback.stop","x":501.1839599609375,"y":429.3070373535156,"wires":[[]]},{"id":"ec3c38e2.2dcb48","type":"mopidy-in","z":"4f0aa92b.99c7f8","name":"","messagetype":"event","server":"ff0303ef.e27a1","x":131.30902099609375,"y":52.571990966796875,"wires":[["1190dd89.264e02"]]},{"id":"1190dd89.264e02","type":"switch","z":"4f0aa92b.99c7f8","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"event:streamTitleChanged","vt":"str"},{"t":"eq","v":"event:trackPlaybackStarted","vt":"str"},{"t":"eq","v":"event:tracklistChanged","vt":"str"},{"t":"eq","v":"event:playlistChanged","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":242.72006225585938,"y":172.37600708007812,"wires":[["6ecf67ab.4c5b98","1c4b8918.849f27"],["1c4b8918.849f27","ce9f567b.4c15c8","3652f91f.925876","862bb816.a99b68"],["1c4b8918.849f27","a9088531.ac2b68"],["1c4b8918.849f27","bfd63630.f57a58"],["1c4b8918.849f27"]]},{"id":"6ecf67ab.4c5b98","type":"change","z":"4f0aa92b.99c7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.80902099609375,"y":50.428009033203125,"wires":[["f3533a80.beeb38"]]},{"id":"f3865125.45417","type":"mqtt in","z":"4f0aa92b.99c7f8","name":"","topic":"radio/state/set","qos":"2","broker":"c89bcf76.61c07","x":91.64602661132812,"y":383.28900146484375,"wires":[["9c7a98ae.a03218"]]},{"id":"1c4b8918.849f27","type":"debug","z":"4f0aa92b.99c7f8","name":"","active":true,"console":"false","complete":"false","x":412.7179870605469,"y":372.2970275878906,"wires":[]},{"id":"20bec1f9.32206e","type":"change","z":"4f0aa92b.99c7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].artists[0].name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1067.0849914550781,"y":92.6829833984375,"wires":[["da20cdfc.43484"]]},{"id":"ce9f567b.4c15c8","type":"change","z":"4f0aa92b.99c7f8","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.uri","pt":"msg","to":"payload.tl_track.track.uri","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.5950012207031,"y":92,"wires":[["db183c38.c0125","ecf7a3be.9f7aa"]]},{"id":"db183c38.c0125","type":"mopidy-out","z":"4f0aa92b.99c7f8","name":"","server":"ff0303ef.e27a1","params":"{\"uri\":\"\",\"uris\":\"\"}","method":"library.lookup","x":842.5950012207031,"y":94,"wires":[["20bec1f9.32206e","c59cf3e.aa17d1","3aa3f8cd.a50e58"]]},{"id":"ecf7a3be.9f7aa","type":"debug","z":"4f0aa92b.99c7f8","name":"","active":false,"console":"true","complete":"true","x":793.5950012207031,"y":154,"wires":[]},{"id":"1c3f8610.762fca","type":"debug","z":"4f0aa92b.99c7f8","name":"","active":false,"console":"false","complete":"true","x":1126.8029479980469,"y":292.00001525878906,"wires":[]},{"id":"f3533a80.beeb38","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/display/title","qos":"","retain":"false","broker":"c89bcf76.61c07","x":742.3719787597656,"y":50.55900573730469,"wires":[]},{"id":"da20cdfc.43484","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/display/artist","qos":"","retain":"false","broker":"c89bcf76.61c07","x":1295.5950012207031,"y":93,"wires":[]},{"id":"dc8123af.6492d","type":"exec","z":"717e2b10.5bd1b4","command":"sudo xinit /root/startMidori.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":411.2699890136719,"y":59,"wires":[[],[],[]]},{"id":"e6479d0c.ba766","type":"inject","z":"717e2b10.5bd1b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":119,"y":59.03997802734375,"wires":[["dc8123af.6492d","b7b5b39d.2324e"]]},{"id":"6c61671c.cf3fa8","type":"mqtt in","z":"cda5d1f6.d2fe4","name":"","topic":"radio/playlist/update","qos":"2","broker":"c89bcf76.61c07","x":114,"y":114,"wires":[["7c8f0b5a.6731b4"]]},{"id":"d961cb02.955ec8","type":"ui_button","z":"e730913.3cd5b7","name":"play","group":"4794906c.3b801","order":4,"width":"1","height":"1","label":"","color":"","icon":"play_arrow","payload":"play","payloadType":"str","topic":"radio/state/set","x":320,"y":288,"wires":[["c92d7734.19d128"]]},{"id":"c92d7734.19d128","type":"mqtt out","z":"e730913.3cd5b7","name":"","topic":"","qos":"","retain":"","broker":"c89bcf76.61c07","x":514,"y":287,"wires":[]},{"id":"9c7a98ae.a03218","type":"function","z":"4f0aa92b.99c7f8","name":"","func":"msg.method = \"playback.\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":287.593017578125,"y":428.39697265625,"wires":[["a438b31a.b56ab"]]},{"id":"8768e368.376fc","type":"ui_button","z":"e730913.3cd5b7","name":"stop","group":"4794906c.3b801","order":3,"width":"1","height":"1","label":"","color":"","icon":"stop","payload":"stop","payloadType":"str","topic":"radio/state/set","x":323,"y":348,"wires":[["c92d7734.19d128"]]},{"id":"baf52b9b.fe9e48","type":"ui_button","z":"e730913.3cd5b7","name":"next","group":"4794906c.3b801","order":5,"width":"1","height":"1","label":"","color":"","icon":"fast_forward","payload":"0","payloadType":"str","topic":"radio/tracklist/next","x":324,"y":409,"wires":[["c92d7734.19d128"]]},{"id":"dffcffb6.9ebd1","type":"mopidy-out","z":"b08aad6d.7cddb","name":"","server":"ff0303ef.e27a1","params":"{\"tl_track\":\"\",\"tlid\":\"\"}","method":"tracklist.index","x":444,"y":168,"wires":[["d7abc6ed.dfe1b8"]]},{"id":"1e241a11.2bf6e6","type":"mqtt in","z":"b08aad6d.7cddb","name":"","topic":"radio/tracklist/changed","qos":"2","broker":"c89bcf76.61c07","x":177,"y":69,"wires":[["5b559093.09717"]]},{"id":"85c2ff84.3e3c5","type":"change","z":"b08aad6d.7cddb","name":"","rules":[{"t":"set","p":"tracklist_length","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":724,"y":68,"wires":[[]]},{"id":"726279ed.635568","type":"inject","z":"b08aad6d.7cddb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150.50100708007812,"y":123.46000671386719,"wires":[["5b559093.09717"]]},{"id":"cc007055.b16f7","type":"debug","z":"b08aad6d.7cddb","name":"","active":true,"console":"false","complete":"false","x":690,"y":123,"wires":[]},{"id":"d7abc6ed.dfe1b8","type":"function","z":"b08aad6d.7cddb","name":"","func":"var tracklist_length = flow.get(\"tracklist_length\");\nvar current_track = msg.payload;\nvar new_track = current_track + 1;\nif (new_track >= tracklist_length) {\n    new_track = 0;\n}\n\nmsg = {};\nmsg.params = {};\nmsg.params.start = new_track;\nmsg.params.end = new_track + 1;\nreturn msg;","outputs":1,"noerr":0,"x":721,"y":178,"wires":[["9d1b10ae.6eb0f","a4c502b2.f020e"]]},{"id":"e8b2fbbd.9396f8","type":"mopidy-out","z":"b08aad6d.7cddb","name":"","server":"ff0303ef.e27a1","params":"{\"tl_track\":\"\",\"tlid\":\"\"}","method":"playback.play","x":1334,"y":136,"wires":[[]]},{"id":"9d1b10ae.6eb0f","type":"mopidy-out","z":"b08aad6d.7cddb","name":"","server":"ff0303ef.e27a1","params":"{\"start\":\"\",\"end\":\"\"}","method":"tracklist.slice","x":927,"y":179,"wires":[["37930e15.df1552"]]},{"id":"37930e15.df1552","type":"change","z":"b08aad6d.7cddb","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.tlid","pt":"msg","to":"payload[0].tlid","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1138,"y":122,"wires":[["e8b2fbbd.9396f8"]]},{"id":"22bbb656.ed7f2a","type":"mqtt in","z":"b08aad6d.7cddb","name":"","topic":"radio/tracklist/previous","qos":"2","broker":"c89bcf76.61c07","x":166,"y":246,"wires":[["513278cf.4cf5f8","44877a06.50ecf4"]]},{"id":"513278cf.4cf5f8","type":"mopidy-out","z":"b08aad6d.7cddb","name":"","server":"ff0303ef.e27a1","params":"{\"tl_track\":\"\",\"tlid\":\"\"}","method":"tracklist.index","x":433,"y":244,"wires":[["360799d3.24e976"]]},{"id":"360799d3.24e976","type":"function","z":"b08aad6d.7cddb","name":"","func":"var tracklist_length = flow.get(\"tracklist_length\");\nvar current_track = msg.payload;\nvar new_track = current_track - 1;\nif (new_track < 0) {\n    new_track = tracklist_length - 1;\n}\n\nmsg = {};\nmsg.params = {};\nmsg.params.start = new_track;\nmsg.params.end = new_track + 1;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":254,"wires":[["9d1b10ae.6eb0f","a4c502b2.f020e"]]},{"id":"106f4cf.986b4b3","type":"ui_button","z":"e730913.3cd5b7","name":"previous","group":"4794906c.3b801","order":2,"width":"1","height":"1","label":"","color":"","icon":"fast_rewind","payload":"0","payloadType":"str","topic":"radio/tracklist/previous","x":334,"y":471,"wires":[["c92d7734.19d128"]]},{"id":"54d89ce8.a8dbc4","type":"ui_button","z":"e730913.3cd5b7","name":"playlist next","group":"4794906c.3b801","order":6,"width":"1","height":"1","label":"","color":"","icon":"skip_next","payload":"0","payloadType":"str","topic":"radio/playlist/next","x":345,"y":537,"wires":[["c92d7734.19d128"]]},{"id":"ae5795a9.68ad28","type":"mqtt in","z":"cda5d1f6.d2fe4","name":"","topic":"radio/playlist/next","qos":"2","broker":"c89bcf76.61c07","x":112,"y":193,"wires":[["ac631461.fc4c68","922ccee9.1751"]]},{"id":"ba6b23c0.2ee7b","type":"mopidy-out","z":"cda5d1f6.d2fe4","name":"","server":"ff0303ef.e27a1","params":"{}","method":"tracklist.clear","x":325.6109924316406,"y":325.0310363769531,"wires":[["ed1b8570.9e38f8"]]},{"id":"ed1b8570.9e38f8","type":"function","z":"cda5d1f6.d2fe4","name":"","func":"var current_playlist = flow.get(\"current_playlist\");\nvar playlists = flow.get(\"playlists\");\nvar new_playlist = current_playlist - 1;\nif (new_playlist < 0) {\n    new_playlist = playlists.length - 1;\n}\nflow.set(\"current_playlist\", new_playlist);\nmsg = {};\nmsg.params = {};\nmsg.params.uri = playlists[new_playlist].uri;\nreturn msg;","outputs":1,"noerr":0,"x":514,"y":324,"wires":[["b46dcea9.a4916"]]},{"id":"bac62112.489cb","type":"mqtt in","z":"cda5d1f6.d2fe4","name":"","topic":"radio/playlist/previous","qos":"2","broker":"c89bcf76.61c07","x":107,"y":325,"wires":[["ba6b23c0.2ee7b","a7697b16.1b3858"]]},{"id":"2bcf5f28.3ee2b","type":"ui_button","z":"e730913.3cd5b7","name":"playlist previous","group":"4794906c.3b801","order":1,"width":"1","height":"1","label":"","color":"","icon":"skip_previous","payload":"0","payloadType":"str","topic":"radio/playlist/previous","x":351,"y":600,"wires":[["c92d7734.19d128"]]},{"id":"1b473f7e.609d31","type":"mqtt out","z":"d2aee2bf.67293","name":"","topic":"radio/display/playlist","qos":"","retain":"false","broker":"c89bcf76.61c07","x":512,"y":94,"wires":[]},{"id":"ca4390f0.bc881","type":"mqtt out","z":"d2aee2bf.67293","name":"","topic":"radio/display/artist","qos":"","retain":"false","broker":"c89bcf76.61c07","x":503,"y":161,"wires":[]},{"id":"a94d05f4.73ce58","type":"mqtt out","z":"d2aee2bf.67293","name":"","topic":"radio/display/title","qos":"","retain":"false","broker":"c89bcf76.61c07","x":500,"y":240,"wires":[]},{"id":"7c865a6a.0a9b64","type":"change","z":"d2aee2bf.67293","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":161,"wires":[["a94d05f4.73ce58","ca4390f0.bc881","1b473f7e.609d31","807cfc38.2c9d4"]]},{"id":"922ccee9.1751","type":"subflow:d2aee2bf.67293","z":"cda5d1f6.d2fe4","name":"","x":353,"y":144,"wires":[]},{"id":"a7697b16.1b3858","type":"subflow:d2aee2bf.67293","z":"cda5d1f6.d2fe4","x":329,"y":261,"wires":[]},{"id":"31b0d3fd.ac2e3c","type":"mqtt out","z":"e37d0f6b.0ed12","name":"","topic":"radio/display/artist","qos":"","retain":"false","broker":"c89bcf76.61c07","x":588,"y":166,"wires":[]},{"id":"110221e0.d3ef3e","type":"mqtt out","z":"e37d0f6b.0ed12","name":"","topic":"radio/display/title","qos":"","retain":"false","broker":"c89bcf76.61c07","x":589.094970703125,"y":224.01300048828125,"wires":[]},{"id":"dbb1cc4d.cf14d","type":"change","z":"e37d0f6b.0ed12","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":351.09197998046875,"y":225.719970703125,"wires":[["110221e0.d3ef3e","31b0d3fd.ac2e3c","2fe309e6.6b0ee6"]]},{"id":"7e85be4.fd5454","type":"subflow:e37d0f6b.0ed12","z":"b08aad6d.7cddb","name":"","x":446,"y":123,"wires":[]},{"id":"44877a06.50ecf4","type":"subflow:e37d0f6b.0ed12","z":"b08aad6d.7cddb","x":440,"y":302,"wires":[]},{"id":"a4c502b2.f020e","type":"debug","z":"b08aad6d.7cddb","name":"","active":true,"console":"false","complete":"true","x":898,"y":245,"wires":[]},{"id":"54fbdb59.0116a4","type":"status","z":"cda5d1f6.d2fe4","name":"","scope":["7c8f0b5a.6731b4"],"x":93,"y":55,"wires":[["e640223d.f609f"]]},{"id":"e640223d.f609f","type":"switch","z":"cda5d1f6.d2fe4","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","outputs":1,"x":274,"y":56,"wires":[["7c8f0b5a.6731b4"]]},{"id":"b7b5b39d.2324e","type":"subflow:d2aee2bf.67293","z":"717e2b10.5bd1b4","x":336,"y":159,"wires":[]},{"id":"f3b109d5.4bb338","type":"ui_template","z":"e730913.3cd5b7","group":"8c8619ca.614038","name":"","order":0,"width":"3","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":554.2400512695312,"y":226.26498413085938,"wires":[[]]},{"id":"c59cf3e.aa17d1","type":"switch","z":"4f0aa92b.99c7f8","name":"","property":"payload[0].album.images","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1029.0799560546875,"y":151.48500061035156,"wires":[["1c3f8610.762fca","b219a09c.f8e16"]]},{"id":"3aa3f8cd.a50e58","type":"debug","z":"4f0aa92b.99c7f8","name":"","active":false,"console":"false","complete":"false","x":957.5,"y":277,"wires":[]},{"id":"bfd1c96a.196c88","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/display/image","qos":"","retain":"false","broker":"c89bcf76.61c07","x":1435.173828125,"y":249.39698791503906,"wires":[]},{"id":"b219a09c.f8e16","type":"change","z":"4f0aa92b.99c7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].album.images[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1205.0480346679688,"y":202.97898864746094,"wires":[["bfd1c96a.196c88"]]},{"id":"858fba19.18aa58","type":"mqtt in","z":"e730913.3cd5b7","name":"","topic":"radio/display/image","qos":"2","broker":"c89bcf76.61c07","x":142.55697631835938,"y":235.66000366210938,"wires":[["ef7887be.4d4518"]]},{"id":"ef7887be.4d4518","type":"template","z":"e730913.3cd5b7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img id=\"img\" src=\"{{payload}}\" height=\"128\" width=\"128\"/>","x":370.3540344238281,"y":221.02101135253906,"wires":[["f3b109d5.4bb338"]]},{"id":"3652f91f.925876","type":"change","z":"4f0aa92b.99c7f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tl_track.track.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565.5,"y":146,"wires":[["b569754e.0ee978"]]},{"id":"b569754e.0ee978","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/display/title","qos":"","retain":"false","broker":"c89bcf76.61c07","x":779.8939819335938,"y":220.82699584960938,"wires":[]},{"id":"862bb816.a99b68","type":"switch","z":"4f0aa92b.99c7f8","name":"","property":"payload.tl_track.track.album.uri","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":539.1110534667969,"y":214.947998046875,"wires":[["27b508e.50898f8"]]},{"id":"602a8ac4.f9d574","type":"mopidy-out","z":"4f0aa92b.99c7f8","name":"","server":"ff0303ef.e27a1","params":"{\"uris\":\"\"}","method":"library.getImages","x":966.0079956054688,"y":350.0810241699219,"wires":[["5ef22d14.89e924"]]},{"id":"f97790e.1a67e7","type":"debug","z":"4f0aa92b.99c7f8","name":"","active":true,"console":"false","complete":"false","x":1422.7568969726562,"y":345.8619689941406,"wires":[]},{"id":"27b508e.50898f8","type":"function","z":"4f0aa92b.99c7f8","name":"","func":"msg.params ={};\nmsg.params.uris = [msg.payload.tl_track.track.album.uri];\nflow.set(\"album_uri\", msg.payload.tl_track.track.album.uri);\nreturn msg;","outputs":1,"noerr":0,"x":759.43798828125,"y":297.3190002441406,"wires":[["602a8ac4.f9d574"]]},{"id":"5ef22d14.89e924","type":"function","z":"4f0aa92b.99c7f8","name":"","func":"msg.payload = msg.payload[flow.get(\"album_uri\")][1].uri;\nreturn msg;","outputs":1,"noerr":0,"x":1171.9800415039062,"y":351.6750183105469,"wires":[["f97790e.1a67e7","bfd1c96a.196c88"]]},{"id":"807cfc38.2c9d4","type":"mqtt out","z":"d2aee2bf.67293","name":"","topic":"radio/display/image","qos":"","retain":"false","broker":"c89bcf76.61c07","x":510.989990234375,"y":308.6470031738281,"wires":[]},{"id":"2fe309e6.6b0ee6","type":"mqtt out","z":"e37d0f6b.0ed12","name":"","topic":"radio/display/image","qos":"","retain":"false","broker":"c89bcf76.61c07","x":600.2990112304688,"y":280.1520080566406,"wires":[]},{"id":"a9088531.ac2b68","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/tracklist/changed","qos":"","retain":"false","broker":"c89bcf76.61c07","x":560.06103515625,"y":263.5610046386719,"wires":[]},{"id":"bfd63630.f57a58","type":"mqtt out","z":"4f0aa92b.99c7f8","name":"","topic":"radio/playlist/update","qos":"","retain":"false","broker":"c89bcf76.61c07","x":487.96099853515625,"y":321.4840087890625,"wires":[]}]