flows.json
[
    {
        "id": "e730913.3cd5b7",
        "type": "tab",
        "label": "UI"
    },
    {
        "id": "cda5d1f6.d2fe4",
        "type": "tab",
        "label": "Playlist"
    },
    {
        "id": "b08aad6d.7cddb",
        "type": "tab",
        "label": "Tracklist"
    },
    {
        "id": "4f0aa92b.99c7f8",
        "type": "tab",
        "label": "Events"
    },
    {
        "id": "717e2b10.5bd1b4",
        "type": "tab",
        "label": "Startup"
    },
    {
        "id": "fae538a8.093b78",
        "type": "tab",
        "label": "Lirc"
    },
    {
        "id": "eefeba7d.43d558",
        "type": "tab",
        "label": "Volume"
    },
    {
        "id": "d2aee2bf.67293",
        "type": "subflow",
        "name": "Clear Display",
        "info": "",
        "in": [
            {
                "x": 72,
                "y": 161,
                "wires": [
                    {
                        "id": "7c865a6a.0a9b64"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "e37d0f6b.0ed12",
        "type": "subflow",
        "name": "Clear Song Info",
        "info": "",
        "in": [
            {
                "x": 102,
                "y": 168,
                "wires": [
                    {
                        "id": "dbb1cc4d.cf14d"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "56685873.891858",
        "type": "ui_tab",
        "z": "e730913.3cd5b7",
        "name": "Radio",
        "icon": "dashboard"
    },
    {
        "id": "8c8619ca.614038",
        "type": "ui_group",
        "z": "e730913.3cd5b7",
        "name": "Radio",
        "tab": "56685873.891858",
        "disp": false,
        "width": "8"
    },
    {
        "id": "ff0303ef.e27a1",
        "type": "mopidy-config",
        "z": "",
        "name": "localhost",
        "host": "localhost",
        "port": "6680"
    },
    {
        "id": "c89bcf76.61c07",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4794906c.3b801",
        "type": "ui_group",
        "z": "e730913.3cd5b7",
        "name": "Buttons",
        "tab": "56685873.891858",
        "disp": false,
        "width": "8"
    },
    {
        "id": "a430bb70.79dab8",
        "type": "ui_base",
        "name": "Node-RED Dashboard",
        "theme": "theme-dark"
    },
    {
        "id": "a79f637d.e5d46",
        "type": "ui_text",
        "z": "e730913.3cd5b7",
        "group": "8c8619ca.614038",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "Artist",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 517,
        "y": 88,
        "wires": []
    },
    {
        "id": "5bd53981.7c40c8",
        "type": "ui_text",
        "z": "e730913.3cd5b7",
        "group": "8c8619ca.614038",
        "order": 3,
        "width": "5",
        "height": "1",
        "name": "Titel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 519,
        "y": 156,
        "wires": []
    },
    {
        "id": "b46dcea9.a4916",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"uri\":\"\"}",
        "method": "playlists.lookup",
        "x": 738.25,
        "y": 190.93496704101562,
        "wires": [
            [
                "e42f3136.0cab3",
                "dfa79baf.2cffa8",
                "6806584f.0c0b28"
            ]
        ]
    },
    {
        "id": "ac631461.fc4c68",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "tracklist.clear",
        "x": 350.6109924316406,
        "y": 192.03103637695312,
        "wires": [
            [
                "b291c93.02bcf38"
            ]
        ]
    },
    {
        "id": "2baea893.44c298",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"tl_track\":\"\",\"tlid\":\"\"}",
        "method": "playback.play",
        "x": 1160.77001953125,
        "y": 304.8050537109375,
        "wires": [
            []
        ]
    },
    {
        "id": "e42f3136.0cab3",
        "type": "debug",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1137.6200561523438,
        "y": 190.45498657226562,
        "wires": []
    },
    {
        "id": "6b4c8630.575248",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"tracks\":\"\",\"at_position\":\"\",\"uri\":\"\",\"uris\":\"\"}",
        "method": "tracklist.add",
        "x": 945.7040405273438,
        "y": 306.33306884765625,
        "wires": [
            [
                "2baea893.44c298"
            ]
        ]
    },
    {
        "id": "dfa79baf.2cffa8",
        "type": "change",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "params.tracks",
                "pt": "msg",
                "to": "payload.tracks",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750.4720458984375,
        "y": 305.81201171875,
        "wires": [
            [
                "6b4c8630.575248"
            ]
        ]
    },
    {
        "id": "7c8f0b5a.6731b4",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "playlists.asList",
        "x": 526,
        "y": 52,
        "wires": [
            [
                "65ef47d6.916a28"
            ]
        ]
    },
    {
        "id": "65ef47d6.916a28",
        "type": "change",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "playlists",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current_playlist",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "params.uri",
                "pt": "msg",
                "to": "payload[0].uri",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 754,
        "y": 52,
        "wires": [
            [
                "7f992450.68a55c",
                "b46dcea9.a4916"
            ]
        ]
    },
    {
        "id": "b291c93.02bcf38",
        "type": "function",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "func": "var current_playlist = flow.get(\"current_playlist\");\nvar playlists = flow.get(\"playlists\");\nvar new_playlist = current_playlist + 1;\nif (new_playlist >= playlists.length) {\n    new_playlist = 0;\n}\nflow.set(\"current_playlist\", new_playlist);\nmsg = {};\nmsg.params = {};\nmsg.params.uri = playlists[new_playlist].uri;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 539,
        "y": 191,
        "wires": [
            [
                "b46dcea9.a4916"
            ]
        ]
    },
    {
        "id": "7f992450.68a55c",
        "type": "debug",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 979,
        "y": 51,
        "wires": []
    },
    {
        "id": "56ec9c3d.0beb44",
        "type": "mqtt in",
        "z": "e730913.3cd5b7",
        "name": "",
        "topic": "radio/display/playlist",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 154,
        "y": 34,
        "wires": [
            [
                "d040fbe6.e43298"
            ]
        ]
    },
    {
        "id": "6806584f.0c0b28",
        "type": "change",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 966,
        "y": 132,
        "wires": [
            [
                "e42f3136.0cab3",
                "4cf2cf7c.39574"
            ]
        ]
    },
    {
        "id": "4cf2cf7c.39574",
        "type": "mqtt out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "topic": "radio/display/playlist",
        "qos": "",
        "retain": "true",
        "broker": "c89bcf76.61c07",
        "x": 1232,
        "y": 131,
        "wires": []
    },
    {
        "id": "d040fbe6.e43298",
        "type": "ui_text",
        "z": "e730913.3cd5b7",
        "group": "8c8619ca.614038",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 518,
        "y": 34,
        "wires": []
    },
    {
        "id": "77058b9e.f59754",
        "type": "mqtt in",
        "z": "b08aad6d.7cddb",
        "name": "",
        "topic": "radio/tracklist/next",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 167,
        "y": 170,
        "wires": [
            [
                "dffcffb6.9ebd1",
                "7e85be4.fd5454"
            ]
        ]
    },
    {
        "id": "5b559093.09717",
        "type": "mopidy-out",
        "z": "b08aad6d.7cddb",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "tracklist.getLength",
        "x": 463,
        "y": 70,
        "wires": [
            [
                "85c2ff84.3e3c5"
            ]
        ]
    },
    {
        "id": "b971648b.348ab8",
        "type": "mqtt in",
        "z": "e730913.3cd5b7",
        "name": "",
        "topic": "radio/display/artist",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 153,
        "y": 100,
        "wires": [
            [
                "a79f637d.e5d46"
            ]
        ]
    },
    {
        "id": "21bcfd52.6ed522",
        "type": "mqtt in",
        "z": "e730913.3cd5b7",
        "name": "",
        "topic": "radio/display/title",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 133.052001953125,
        "y": 171,
        "wires": [
            [
                "5bd53981.7c40c8"
            ]
        ]
    },
    {
        "id": "a438b31a.b56ab",
        "type": "mopidy-out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "playback.stop",
        "x": 503.5379333496094,
        "y": 655.3070373535156,
        "wires": [
            []
        ]
    },
    {
        "id": "ec3c38e2.2dcb48",
        "type": "mopidy-in",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "messagetype": "event",
        "server": "ff0303ef.e27a1",
        "x": 109.66299438476562,
        "y": 90.57199096679688,
        "wires": [
            [
                "3e387728.82f888"
            ]
        ]
    },
    {
        "id": "6ecf67ab.4c5b98",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Set payload to title",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 633.1629638671875,
        "y": 228.42800903320312,
        "wires": [
            [
                "f3533a80.beeb38"
            ]
        ]
    },
    {
        "id": "f3865125.45417",
        "type": "mqtt in",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "radio/state/set",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 107,
        "y": 656.2890014648438,
        "wires": [
            [
                "9c7a98ae.a03218"
            ]
        ]
    },
    {
        "id": "20bec1f9.32206e",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Get Artist",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].artists[0].name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1028.43896484375,
        "y": 328.6829833984375,
        "wires": [
            [
                "da20cdfc.43484"
            ]
        ]
    },
    {
        "id": "ce9f567b.4c15c8",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Get Track URI",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "params.uri",
                "pt": "msg",
                "to": "payload.tl_track.track.uri",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 587.9489440917969,
        "y": 328,
        "wires": [
            [
                "db183c38.c0125"
            ]
        ]
    },
    {
        "id": "db183c38.c0125",
        "type": "mopidy-out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"uri\":\"\",\"uris\":\"\"}",
        "method": "library.lookup",
        "x": 794.948974609375,
        "y": 328,
        "wires": [
            [
                "20bec1f9.32206e",
                "c59cf3e.aa17d1"
            ]
        ]
    },
    {
        "id": "f3533a80.beeb38",
        "type": "mqtt out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "radio/display/title",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 879.7259521484375,
        "y": 228.5590057373047,
        "wires": []
    },
    {
        "id": "da20cdfc.43484",
        "type": "mqtt out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "radio/display/artist",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 1278.948974609375,
        "y": 328,
        "wires": []
    },
    {
        "id": "dc8123af.6492d",
        "type": "exec",
        "z": "717e2b10.5bd1b4",
        "command": "sudo xinit /root/startMidori.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 411.2699890136719,
        "y": 59,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e6479d0c.ba766",
        "type": "inject",
        "z": "717e2b10.5bd1b4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 119,
        "y": 59.03997802734375,
        "wires": [
            [
                "dc8123af.6492d",
                "b7b5b39d.2324e"
            ]
        ]
    },
    {
        "id": "6c61671c.cf3fa8",
        "type": "mqtt in",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "topic": "mopidy/event/playlistChanged",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 154,
        "y": 114,
        "wires": [
            [
                "7c8f0b5a.6731b4"
            ]
        ]
    },
    {
        "id": "d961cb02.955ec8",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "play",
        "group": "4794906c.3b801",
        "order": 4,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "play_arrow",
        "payload": "play",
        "payloadType": "str",
        "topic": "radio/state/set",
        "x": 328,
        "y": 288,
        "wires": [
            [
                "c92d7734.19d128",
                "dcaf7a3b.1038f8"
            ]
        ]
    },
    {
        "id": "c92d7734.19d128",
        "type": "mqtt out",
        "z": "e730913.3cd5b7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c89bcf76.61c07",
        "x": 745,
        "y": 488,
        "wires": []
    },
    {
        "id": "9c7a98ae.a03218",
        "type": "function",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "func": "msg.method = \"playback.\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291.9469909667969,
        "y": 655.39697265625,
        "wires": [
            [
                "a438b31a.b56ab"
            ]
        ]
    },
    {
        "id": "8768e368.376fc",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "stop",
        "group": "4794906c.3b801",
        "order": 3,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "radio/state/set",
        "x": 323,
        "y": 348,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "baf52b9b.fe9e48",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "next",
        "group": "4794906c.3b801",
        "order": 5,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "fast_forward",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/tracklist/next",
        "x": 324,
        "y": 409,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "dffcffb6.9ebd1",
        "type": "mopidy-out",
        "z": "b08aad6d.7cddb",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"tl_track\":\"\",\"tlid\":\"\"}",
        "method": "tracklist.index",
        "x": 444,
        "y": 168,
        "wires": [
            [
                "d7abc6ed.dfe1b8"
            ]
        ]
    },
    {
        "id": "1e241a11.2bf6e6",
        "type": "mqtt in",
        "z": "b08aad6d.7cddb",
        "name": "",
        "topic": "mopidy/event/tracklistChanged",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 176,
        "y": 71,
        "wires": [
            [
                "5b559093.09717"
            ]
        ]
    },
    {
        "id": "85c2ff84.3e3c5",
        "type": "change",
        "z": "b08aad6d.7cddb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tracklist_length",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 724,
        "y": 68,
        "wires": [
            []
        ]
    },
    {
        "id": "726279ed.635568",
        "type": "inject",
        "z": "b08aad6d.7cddb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 150.50100708007812,
        "y": 123.46000671386719,
        "wires": [
            [
                "5b559093.09717"
            ]
        ]
    },
    {
        "id": "d7abc6ed.dfe1b8",
        "type": "function",
        "z": "b08aad6d.7cddb",
        "name": "",
        "func": "var tracklist_length = flow.get(\"tracklist_length\");\nvar current_track = msg.payload;\nvar new_track = current_track + 1;\nif (new_track >= tracklist_length) {\n    new_track = 0;\n}\n\nmsg = {};\nmsg.params = {};\nmsg.params.start = new_track;\nmsg.params.end = new_track + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 168,
        "wires": [
            [
                "9d1b10ae.6eb0f"
            ]
        ]
    },
    {
        "id": "e8b2fbbd.9396f8",
        "type": "mopidy-out",
        "z": "b08aad6d.7cddb",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"tl_track\":\"\",\"tlid\":\"\"}",
        "method": "playback.play",
        "x": 1263,
        "y": 168,
        "wires": [
            []
        ]
    },
    {
        "id": "9d1b10ae.6eb0f",
        "type": "mopidy-out",
        "z": "b08aad6d.7cddb",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"start\":\"\",\"end\":\"\"}",
        "method": "tracklist.slice",
        "x": 848,
        "y": 168,
        "wires": [
            [
                "37930e15.df1552"
            ]
        ]
    },
    {
        "id": "37930e15.df1552",
        "type": "change",
        "z": "b08aad6d.7cddb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "params.tlid",
                "pt": "msg",
                "to": "payload[0].tlid",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1058,
        "y": 168,
        "wires": [
            [
                "e8b2fbbd.9396f8"
            ]
        ]
    },
    {
        "id": "22bbb656.ed7f2a",
        "type": "mqtt in",
        "z": "b08aad6d.7cddb",
        "name": "",
        "topic": "radio/tracklist/previous",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 166,
        "y": 246,
        "wires": [
            [
                "513278cf.4cf5f8",
                "44877a06.50ecf4"
            ]
        ]
    },
    {
        "id": "513278cf.4cf5f8",
        "type": "mopidy-out",
        "z": "b08aad6d.7cddb",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"tl_track\":\"\",\"tlid\":\"\"}",
        "method": "tracklist.index",
        "x": 433,
        "y": 244,
        "wires": [
            [
                "360799d3.24e976"
            ]
        ]
    },
    {
        "id": "360799d3.24e976",
        "type": "function",
        "z": "b08aad6d.7cddb",
        "name": "",
        "func": "var tracklist_length = flow.get(\"tracklist_length\");\nvar current_track = msg.payload;\nvar new_track = current_track - 1;\nif (new_track < 0) {\n    new_track = tracklist_length - 1;\n}\n\nmsg = {};\nmsg.params = {};\nmsg.params.start = new_track;\nmsg.params.end = new_track + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 649,
        "y": 244,
        "wires": [
            [
                "9d1b10ae.6eb0f"
            ]
        ]
    },
    {
        "id": "106f4cf.986b4b3",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "previous",
        "group": "4794906c.3b801",
        "order": 2,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "fast_rewind",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/tracklist/previous",
        "x": 334,
        "y": 471,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "54d89ce8.a8dbc4",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "playlist next",
        "group": "4794906c.3b801",
        "order": 6,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "skip_next",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/playlist/next",
        "x": 345,
        "y": 537,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "ae5795a9.68ad28",
        "type": "mqtt in",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "topic": "radio/playlist/next",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 112,
        "y": 193,
        "wires": [
            [
                "ac631461.fc4c68",
                "922ccee9.1751"
            ]
        ]
    },
    {
        "id": "ba6b23c0.2ee7b",
        "type": "mopidy-out",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "tracklist.clear",
        "x": 325.6109924316406,
        "y": 325.0310363769531,
        "wires": [
            [
                "ed1b8570.9e38f8"
            ]
        ]
    },
    {
        "id": "ed1b8570.9e38f8",
        "type": "function",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "func": "var current_playlist = flow.get(\"current_playlist\");\nvar playlists = flow.get(\"playlists\");\nvar new_playlist = current_playlist - 1;\nif (new_playlist < 0) {\n    new_playlist = playlists.length - 1;\n}\nflow.set(\"current_playlist\", new_playlist);\nmsg = {};\nmsg.params = {};\nmsg.params.uri = playlists[new_playlist].uri;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 514,
        "y": 324,
        "wires": [
            [
                "b46dcea9.a4916"
            ]
        ]
    },
    {
        "id": "bac62112.489cb",
        "type": "mqtt in",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "topic": "radio/playlist/previous",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 107,
        "y": 325,
        "wires": [
            [
                "ba6b23c0.2ee7b",
                "a7697b16.1b3858"
            ]
        ]
    },
    {
        "id": "2bcf5f28.3ee2b",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "playlist previous",
        "group": "4794906c.3b801",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "skip_previous",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/playlist/previous",
        "x": 351,
        "y": 600,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "1b473f7e.609d31",
        "type": "mqtt out",
        "z": "d2aee2bf.67293",
        "name": "",
        "topic": "radio/display/playlist",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 512,
        "y": 94,
        "wires": []
    },
    {
        "id": "ca4390f0.bc881",
        "type": "mqtt out",
        "z": "d2aee2bf.67293",
        "name": "",
        "topic": "radio/display/artist",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 503,
        "y": 161,
        "wires": []
    },
    {
        "id": "a94d05f4.73ce58",
        "type": "mqtt out",
        "z": "d2aee2bf.67293",
        "name": "",
        "topic": "radio/display/title",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c865a6a.0a9b64",
        "type": "change",
        "z": "d2aee2bf.67293",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 161,
        "wires": [
            [
                "a94d05f4.73ce58",
                "ca4390f0.bc881",
                "1b473f7e.609d31",
                "807cfc38.2c9d4"
            ]
        ]
    },
    {
        "id": "922ccee9.1751",
        "type": "subflow:d2aee2bf.67293",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "x": 353,
        "y": 144,
        "wires": []
    },
    {
        "id": "a7697b16.1b3858",
        "type": "subflow:d2aee2bf.67293",
        "z": "cda5d1f6.d2fe4",
        "x": 329,
        "y": 261,
        "wires": []
    },
    {
        "id": "31b0d3fd.ac2e3c",
        "type": "mqtt out",
        "z": "e37d0f6b.0ed12",
        "name": "",
        "topic": "radio/display/artist",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 588,
        "y": 166,
        "wires": []
    },
    {
        "id": "110221e0.d3ef3e",
        "type": "mqtt out",
        "z": "e37d0f6b.0ed12",
        "name": "",
        "topic": "radio/display/title",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 589.094970703125,
        "y": 224.01300048828125,
        "wires": []
    },
    {
        "id": "dbb1cc4d.cf14d",
        "type": "change",
        "z": "e37d0f6b.0ed12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 351.09197998046875,
        "y": 225.719970703125,
        "wires": [
            [
                "110221e0.d3ef3e",
                "31b0d3fd.ac2e3c",
                "2fe309e6.6b0ee6"
            ]
        ]
    },
    {
        "id": "7e85be4.fd5454",
        "type": "subflow:e37d0f6b.0ed12",
        "z": "b08aad6d.7cddb",
        "name": "",
        "x": 446,
        "y": 123,
        "wires": []
    },
    {
        "id": "44877a06.50ecf4",
        "type": "subflow:e37d0f6b.0ed12",
        "z": "b08aad6d.7cddb",
        "x": 440,
        "y": 302,
        "wires": []
    },
    {
        "id": "54fbdb59.0116a4",
        "type": "status",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "scope": [
            "7c8f0b5a.6731b4"
        ],
        "x": 93,
        "y": 55,
        "wires": [
            [
                "e640223d.f609f"
            ]
        ]
    },
    {
        "id": "e640223d.f609f",
        "type": "switch",
        "z": "cda5d1f6.d2fe4",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 274,
        "y": 56,
        "wires": [
            [
                "7c8f0b5a.6731b4"
            ]
        ]
    },
    {
        "id": "b7b5b39d.2324e",
        "type": "subflow:d2aee2bf.67293",
        "z": "717e2b10.5bd1b4",
        "x": 355,
        "y": 147,
        "wires": []
    },
    {
        "id": "f3b109d5.4bb338",
        "type": "ui_template",
        "z": "e730913.3cd5b7",
        "group": "8c8619ca.614038",
        "name": "",
        "order": 0,
        "width": "3",
        "height": "3",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 554.2400512695312,
        "y": 226.26498413085938,
        "wires": [
            []
        ]
    },
    {
        "id": "c59cf3e.aa17d1",
        "type": "switch",
        "z": "4f0aa92b.99c7f8",
        "name": "Has album image?",
        "property": "payload[0].album.images",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1061.4338989257812,
        "y": 377.4849853515625,
        "wires": [
            [
                "b219a09c.f8e16"
            ]
        ]
    },
    {
        "id": "bfd1c96a.196c88",
        "type": "mqtt out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "radio/display/image",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 1526.52783203125,
        "y": 377.39697265625,
        "wires": []
    },
    {
        "id": "b219a09c.f8e16",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Get image link",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].album.images[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1271.402099609375,
        "y": 377.97900390625,
        "wires": [
            [
                "bfd1c96a.196c88"
            ]
        ]
    },
    {
        "id": "858fba19.18aa58",
        "type": "mqtt in",
        "z": "e730913.3cd5b7",
        "name": "",
        "topic": "radio/display/image",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 132.70095825195312,
        "y": 266.8030090332031,
        "wires": [
            [
                "ef7887be.4d4518"
            ]
        ]
    },
    {
        "id": "ef7887be.4d4518",
        "type": "template",
        "z": "e730913.3cd5b7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img id=\"img\" src=\"{{payload}}\" height=\"128\" width=\"128\"/>",
        "x": 370.3540344238281,
        "y": 221.02101135253906,
        "wires": [
            [
                "f3b109d5.4bb338"
            ]
        ]
    },
    {
        "id": "3652f91f.925876",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Get track name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tl_track.track.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 586.8539733886719,
        "y": 378,
        "wires": [
            [
                "b569754e.0ee978"
            ]
        ]
    },
    {
        "id": "b569754e.0ee978",
        "type": "mqtt out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "radio/display/title",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 804.2479248046875,
        "y": 378.8269958496094,
        "wires": []
    },
    {
        "id": "862bb816.a99b68",
        "type": "switch",
        "z": "4f0aa92b.99c7f8",
        "name": "Album URI?",
        "property": "payload.tl_track.track.album.uri",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 581.4650268554688,
        "y": 437.947998046875,
        "wires": [
            [
                "27b508e.50898f8"
            ]
        ]
    },
    {
        "id": "602a8ac4.f9d574",
        "type": "mopidy-out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"uris\":\"\"}",
        "method": "library.getImages",
        "x": 1065.3619384765625,
        "y": 438.0810241699219,
        "wires": [
            [
                "5ef22d14.89e924"
            ]
        ]
    },
    {
        "id": "27b508e.50898f8",
        "type": "function",
        "z": "4f0aa92b.99c7f8",
        "name": "Get URI and store in flow",
        "func": "msg.params ={};\nmsg.params.uris = [msg.payload.tl_track.track.album.uri];\nflow.set(\"album_uri\", msg.payload.tl_track.track.album.uri);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7919311523438,
        "y": 438.3190002441406,
        "wires": [
            [
                "602a8ac4.f9d574"
            ]
        ]
    },
    {
        "id": "5ef22d14.89e924",
        "type": "function",
        "z": "4f0aa92b.99c7f8",
        "name": "Get link for uri",
        "func": "msg.payload = msg.payload[flow.get(\"album_uri\")][1].uri;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1273.333984375,
        "y": 439.6750183105469,
        "wires": [
            [
                "bfd1c96a.196c88"
            ]
        ]
    },
    {
        "id": "807cfc38.2c9d4",
        "type": "mqtt out",
        "z": "d2aee2bf.67293",
        "name": "",
        "topic": "radio/display/image",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 510.989990234375,
        "y": 308.6470031738281,
        "wires": []
    },
    {
        "id": "2fe309e6.6b0ee6",
        "type": "mqtt out",
        "z": "e37d0f6b.0ed12",
        "name": "",
        "topic": "radio/display/image",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 600.2990112304688,
        "y": 280.1520080566406,
        "wires": []
    },
    {
        "id": "3e387728.82f888",
        "type": "change",
        "z": "4f0aa92b.99c7f8",
        "name": "Set topic for event",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.event",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "event:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 91,
        "wires": [
            [
                "3ba891b6.516bee"
            ]
        ]
    },
    {
        "id": "3ba891b6.516bee",
        "type": "template",
        "z": "4f0aa92b.99c7f8",
        "name": "Prepend mopidy/event/",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mopidy/event/{{topic}}",
        "x": 659,
        "y": 91,
        "wires": [
            [
                "6ff0ef2a.c6102",
                "3f6b8826.90a808"
            ]
        ]
    },
    {
        "id": "6ff0ef2a.c6102",
        "type": "debug",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 915,
        "y": 142,
        "wires": []
    },
    {
        "id": "3f6b8826.90a808",
        "type": "mqtt out",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 895,
        "y": 91,
        "wires": []
    },
    {
        "id": "b375485.263b9b8",
        "type": "mqtt in",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "mopidy/event/streamTitleChanged",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 172,
        "y": 229,
        "wires": [
            [
                "f9c0232f.f956c"
            ]
        ]
    },
    {
        "id": "f9c0232f.f956c",
        "type": "json",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "x": 430,
        "y": 229,
        "wires": [
            [
                "6ecf67ab.4c5b98"
            ]
        ]
    },
    {
        "id": "ef5c3fc2.dac97",
        "type": "json",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "x": 392,
        "y": 328,
        "wires": [
            [
                "ce9f567b.4c15c8",
                "3652f91f.925876",
                "862bb816.a99b68"
            ]
        ]
    },
    {
        "id": "7cd93929.88b668",
        "type": "mqtt in",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "mopidy/event/trackPlaybackStarted",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 169,
        "y": 329,
        "wires": [
            [
                "ef5c3fc2.dac97"
            ]
        ]
    },
    {
        "id": "6133485f.c6ac78",
        "type": "comment",
        "z": "4f0aa92b.99c7f8",
        "name": "Mopidy events to mqtt",
        "info": "",
        "x": 133,
        "y": 34,
        "wires": []
    },
    {
        "id": "71f4098a.992948",
        "type": "debug",
        "z": "fae538a8.093b78",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 341,
        "y": 68,
        "wires": []
    },
    {
        "id": "20ebea07.ab6756",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 322,
        "y": 135,
        "wires": []
    },
    {
        "id": "9edd50fc.b2ce3",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_NEXT",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 133,
        "y": 203,
        "wires": [
            [
                "985d2c4e.e07a3"
            ]
        ]
    },
    {
        "id": "1eec5143.4c25bf",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/playlist/next",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 643,
        "y": 204,
        "wires": []
    },
    {
        "id": "985d2c4e.e07a3",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 438,
        "y": 204,
        "wires": [
            [
                "1eec5143.4c25bf"
            ]
        ]
    },
    {
        "id": "ccd465a1.bd9468",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_PREVIOUS",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 141,
        "y": 364,
        "wires": [
            [
                "c4c99eff.54335"
            ]
        ]
    },
    {
        "id": "af30772.4d75388",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/playlist/previous",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 695,
        "y": 361,
        "wires": []
    },
    {
        "id": "c4c99eff.54335",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 482,
        "y": 362,
        "wires": [
            [
                "af30772.4d75388"
            ]
        ]
    },
    {
        "id": "d75b7e5c.62533",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_LEFT",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 131,
        "y": 613,
        "wires": [
            [
                "6f5e9c74.75c004"
            ]
        ]
    },
    {
        "id": "2d268fa1.91aef",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/tracklist/previous",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 555,
        "y": 610,
        "wires": []
    },
    {
        "id": "6f5e9c74.75c004",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 336,
        "y": 613,
        "wires": [
            [
                "2d268fa1.91aef"
            ]
        ]
    },
    {
        "id": "b6b06319.6ba8",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_RIGHT",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 145,
        "y": 690,
        "wires": [
            [
                "d4722c40.d9156"
            ]
        ]
    },
    {
        "id": "6371cc10.640ba4",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/tracklist/next",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 549,
        "y": 687,
        "wires": []
    },
    {
        "id": "d4722c40.d9156",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 340,
        "y": 690,
        "wires": [
            [
                "6371cc10.640ba4"
            ]
        ]
    },
    {
        "id": "2cd3ea0.14c6016",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_POWER",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 145,
        "y": 769,
        "wires": [
            [
                "69ac1284.36d6ac"
            ]
        ]
    },
    {
        "id": "30600ffc.e9c3",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/state/set",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 739,
        "y": 767,
        "wires": []
    },
    {
        "id": "69ac1284.36d6ac",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 340,
        "y": 769,
        "wires": [
            [
                "16076c3e.c87274"
            ]
        ]
    },
    {
        "id": "16076c3e.c87274",
        "type": "change",
        "z": "fae538a8.093b78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "play",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 522,
        "y": 769,
        "wires": [
            [
                "30600ffc.e9c3"
            ]
        ]
    },
    {
        "id": "2a672308.d64cac",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_STOP",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 131,
        "y": 852,
        "wires": [
            [
                "101cdcd3.8a5fd3"
            ]
        ]
    },
    {
        "id": "95e5bb0a.aac118",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/state/set",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 735,
        "y": 850,
        "wires": []
    },
    {
        "id": "101cdcd3.8a5fd3",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 336,
        "y": 852,
        "wires": [
            [
                "87479817.530968"
            ]
        ]
    },
    {
        "id": "87479817.530968",
        "type": "change",
        "z": "fae538a8.093b78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 518,
        "y": 852,
        "wires": [
            [
                "95e5bb0a.aac118"
            ]
        ]
    },
    {
        "id": "ec50127.b66d6f",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/+/KEY_PAUSE",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 140,
        "y": 910,
        "wires": [
            [
                "381f01b5.52cbee"
            ]
        ]
    },
    {
        "id": "631a4a35.f7f254",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/state/set",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 734,
        "y": 908,
        "wires": []
    },
    {
        "id": "381f01b5.52cbee",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 335,
        "y": 910,
        "wires": [
            [
                "f59f4fbd.4b1ab"
            ]
        ]
    },
    {
        "id": "f59f4fbd.4b1ab",
        "type": "change",
        "z": "fae538a8.093b78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pause",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 517,
        "y": 910,
        "wires": [
            [
                "631a4a35.f7f254"
            ]
        ]
    },
    {
        "id": "faf5857f.4a40b8",
        "type": "mqtt in",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "topic": "mopidy/event/playbackStateChanged",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 187,
        "y": 517,
        "wires": [
            [
                "220633f0.fedebc"
            ]
        ]
    },
    {
        "id": "220633f0.fedebc",
        "type": "json",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "x": 435,
        "y": 517,
        "wires": [
            [
                "cb5cdf4a.d7565"
            ]
        ]
    },
    {
        "id": "cb5cdf4a.d7565",
        "type": "switch",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "property": "payload.new_state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 592,
        "y": 516,
        "wires": [
            [
                "7a413b65.e3f904"
            ]
        ]
    },
    {
        "id": "7a413b65.e3f904",
        "type": "subflow:e37d0f6b.0ed12",
        "z": "4f0aa92b.99c7f8",
        "name": "",
        "x": 792,
        "y": 515,
        "wires": []
    },
    {
        "id": "7e2a47f3.325768",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/WD_TV_LIVE_REMOTE/KEY_UP",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 194,
        "y": 994,
        "wires": [
            [
                "ea494369.4be12"
            ]
        ]
    },
    {
        "id": "b58c5fb0.82a78",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/mixer/volup",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 728,
        "y": 989,
        "wires": []
    },
    {
        "id": "ea494369.4be12",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 494,
        "y": 994,
        "wires": [
            [
                "b58c5fb0.82a78"
            ]
        ]
    },
    {
        "id": "a2c05e70.3acee",
        "type": "inject",
        "z": "eefeba7d.43d558",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 226,
        "y": 134,
        "wires": [
            [
                "cfc8f930.cfb718"
            ]
        ]
    },
    {
        "id": "cfc8f930.cfb718",
        "type": "mopidy-out",
        "z": "eefeba7d.43d558",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "mixer.getVolume",
        "x": 429,
        "y": 134,
        "wires": [
            [
                "6887289d.657f58"
            ]
        ]
    },
    {
        "id": "6887289d.657f58",
        "type": "debug",
        "z": "eefeba7d.43d558",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 597,
        "y": 132,
        "wires": []
    },
    {
        "id": "b0280fbc.0e5c6",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/WD_TV_LIVE_REMOTE/KEY_DOWN",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 205,
        "y": 1156,
        "wires": [
            [
                "19500c2b.ec76a4"
            ]
        ]
    },
    {
        "id": "dcf882cf.01dbd",
        "type": "mqtt out",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "radio/mixer/voldown",
        "qos": "",
        "retain": "false",
        "broker": "c89bcf76.61c07",
        "x": 739,
        "y": 1149,
        "wires": []
    },
    {
        "id": "19500c2b.ec76a4",
        "type": "switch",
        "z": "fae538a8.093b78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 502,
        "y": 1154,
        "wires": [
            [
                "dcf882cf.01dbd"
            ]
        ]
    },
    {
        "id": "9c6675c7.03d278",
        "type": "mqtt in",
        "z": "eefeba7d.43d558",
        "name": "",
        "topic": "radio/mixer/volup",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 137,
        "y": 234,
        "wires": [
            [
                "8044a0da.1ef1c"
            ]
        ]
    },
    {
        "id": "c1a5b101.86662",
        "type": "function",
        "z": "eefeba7d.43d558",
        "name": "",
        "func": "var newvol = msg.payload + 1;\nif (newvol > 100) {\n    newvol = 100;\n}\nmsg.params = {};\nmsg.params.volume = newvol;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 534,
        "y": 234,
        "wires": [
            [
                "b56c9e11.fe0e1"
            ]
        ]
    },
    {
        "id": "8044a0da.1ef1c",
        "type": "mopidy-out",
        "z": "eefeba7d.43d558",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "mixer.getVolume",
        "x": 341,
        "y": 234,
        "wires": [
            [
                "c1a5b101.86662"
            ]
        ]
    },
    {
        "id": "b56c9e11.fe0e1",
        "type": "mopidy-out",
        "z": "eefeba7d.43d558",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{\"volume\":\"\"}",
        "method": "mixer.setVolume",
        "x": 752,
        "y": 268,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3dc193.f4548",
        "type": "mqtt in",
        "z": "eefeba7d.43d558",
        "name": "",
        "topic": "radio/mixer/voldown",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 146,
        "y": 310,
        "wires": [
            [
                "a5921c42.73d5c"
            ]
        ]
    },
    {
        "id": "9722071.de2fbf8",
        "type": "function",
        "z": "eefeba7d.43d558",
        "name": "",
        "func": "var newvol = msg.payload - 1;\nif (newvol < 0) {\n    newvol = 0;\n}\nmsg.params = {};\nmsg.params.volume = newvol;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 533,
        "y": 310,
        "wires": [
            [
                "b56c9e11.fe0e1"
            ]
        ]
    },
    {
        "id": "a5921c42.73d5c",
        "type": "mopidy-out",
        "z": "eefeba7d.43d558",
        "name": "",
        "server": "ff0303ef.e27a1",
        "params": "{}",
        "method": "mixer.getVolume",
        "x": 340,
        "y": 310,
        "wires": [
            [
                "9722071.de2fbf8"
            ]
        ]
    },
    {
        "id": "a2e8aa46.2d3f98",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "volume up",
        "group": "4794906c.3b801",
        "order": 8,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "volume_up",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/mixer/volup",
        "x": 334,
        "y": 650,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "6063c18d.f303",
        "type": "ui_button",
        "z": "e730913.3cd5b7",
        "name": "volume down",
        "group": "4794906c.3b801",
        "order": 7,
        "width": "1",
        "height": "1",
        "label": "",
        "color": "",
        "icon": "volume_down",
        "payload": "0",
        "payloadType": "str",
        "topic": "radio/mixer/voldown",
        "x": 340,
        "y": 706,
        "wires": [
            [
                "c92d7734.19d128"
            ]
        ]
    },
    {
        "id": "dcaf7a3b.1038f8",
        "type": "debug",
        "z": "e730913.3cd5b7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 705,
        "y": 338,
        "wires": []
    },
    {
        "id": "c7253a64.f43968",
        "type": "lirc-in",
        "z": "fae538a8.093b78",
        "name": "",
        "x": 111,
        "y": 102,
        "wires": [
            [
                "71f4098a.992948",
                "20ebea07.ab6756"
            ]
        ]
    },
    {
        "id": "b1b75dc7.707a",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/Technisat_103TS103/KEY_VOL_MINUS",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 201,
        "y": 1220,
        "wires": [
            [
                "19500c2b.ec76a4"
            ]
        ]
    },
    {
        "id": "a182337e.acd13",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/Technisat_103TS103/KEY_VOL_PLUS",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 213,
        "y": 1057,
        "wires": [
            [
                "ea494369.4be12"
            ]
        ]
    },
    {
        "id": "861ec92d.8641f8",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/Technisat_103TS103/KEY_UP",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 172,
        "y": 275,
        "wires": [
            [
                "985d2c4e.e07a3"
            ]
        ]
    },
    {
        "id": "2d5bc39a.884c9c",
        "type": "mqtt in",
        "z": "fae538a8.093b78",
        "name": "",
        "topic": "lirc/Technisat_103TS103/KEY_DOWN",
        "qos": "2",
        "broker": "c89bcf76.61c07",
        "x": 189,
        "y": 440,
        "wires": [
            [
                "c4c99eff.54335"
            ]
        ]
    }
]